html, body {margin:0;padding:0;height:100%;}

@keyframes background_animation { 
    0%{background-position:0% 61%}
    50%{background-position:100% 50%}
    100%{background-position:7% 70%}
}
#all {
    padding-top:6%;
    width:100%;
    background: linear-gradient(150deg, #b0ffe9, #a9caff, #ffd2bf);
    background-size:250%;
    animation: background_animation 15s ease-in-out infinite;
}

/* Top banner style */
#navigation_bar {
    position:fixed; /*so that it follows when you scroll*/
    top:0;
    width:100%;
    font-size:2vw;
    padding-top:2vmin;
    padding-bottom:2vmin;
    background-color:black;
    z-index:4; /*on top of other layers*/
    transition:all 0.4s;
    -webkit-transition:all 0.4s;
    -moz-transition:all 0.4s;
    -o-transition:all 0.4s;
    -ms-transition:all 0.4s;
    /*opacity is in script.js*/
}
.banner_bottom_button{
    margin-left:3%;
    color:white;
    text-decoration:none; /*No links decoration*/
    transition:all 0.8s;
    -webkit-transition:all 0.8s;
    -moz-transition:all 0.8s;
    -o-transition:all 0.8s;
    -ms-transition:all 0.8s;
}
.banner_bottom_button:hover {
    background-color:gray;
    color:black;
}

.section {
    position: static;
    padding-top: 7%;
}

.text {
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 0.3vw;
    transition:all 0.7s;
    -webkit-transition:all 0.7s;
    -moz-transition:all 0.7s;
    -o-transition:all 0.7s;
    -ms-transition:all 0.7s;
}
.barchart {
    z-index:1;
    width:99vw;
    height:50vh;
}
.flowchart {
    width: 90%;
    transition:all 1.5s;
    -webkit-transition:all 1.5s;
    -moz-transition:all 1.5s;
    -o-transition:all 1.5s;
    -ms-transition:all 1.5s;
}

@import url(https://fonts.googleapis.com/css?family=Lato:900);
#introduction .title {
    width: 100%;
    margin: auto;
    margin-bottom: 1vh;
    text-align: center;
}
.title .letter {
    position: relative;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-weight: 1000;
    color: rgb(255, 255, 255);
    transform-style: preserve-3d;
    perspective: 400;
    z-index: 1;
}
#introduction #title .letter {
    font-size: 3.3vmax;
    margin-right: 0.3vw;    
}
#introduction #subtitle .letter {
    font-size: 2.3vmax;
    margin-right: 0.15vw;
}
#introduction .letter:before{
    color: rgb(255, 172, 82);
}
#introduction [id*="word"] {
    display:inline-block;
    opacity: 0.75;
}
#introduction #title [id*="word"] {
    margin-right:3%;
}
#introduction #subtitle [id*="word"] {
    margin-right:1%;
}
.title .letter:before, .letter:after{
    position:absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
}
.title .letter, .letter:before, .letter:after{
    transition:all 0.3s ease-in-out;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
}
.title .letter:before{
    text-shadow: 
        -1px 0px 1px rgba(255,255,255, 0.8),
        1px 0px 1px rgba(255, 255, 255, 0.8);
    z-index: 3;
    transform:
        rotateX(0deg)
        rotateY(-15deg)
        rotateZ(0deg);
}
.title .letter:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
        scale(1.08,1)
        rotateX(0deg)
        rotateY(0deg)
        rotateZ(0deg)
        skew(0deg,1deg);
}
.title .letter:hover:before{
    color: #ffc273;
    transform:
        rotateX(0deg)
        rotateY(-40deg)
        rotateZ(0deg);
}
.title .letter:hover:after{
    transform:
        scale(1.08,1)
        rotateX(0deg)
        rotateY(40deg)
        rotateZ(0deg)
        skew(0deg,22deg);
}

#blockchain .title {
    margin-left: 5%;
    font-size: 3vmax;
    margin-bottom: 3%;
}
#blockchain .title .letter:before{
    color: rgb(250, 146, 26);
}

#blockchain #introduction {

}

#reddit .title {
    margin-left: 5%;
    font-size: 3.6vmax;
    margin-bottom: 3%;
}
#reddit .title .letter:before{
    color: rgb(255, 68, 0);
}

#coinmap .title {
    margin-left: 5%;
    font-size: 3.6vmax;
    margin-bottom: 3%;
}
#coinmap .title .letter:before{
    color: rgb(98, 185, 223);
}

#conclusion .title {
    margin-left: 5%;
    font-size: 3vmax;
    margin-bottom: 3%;
}
#conclusion .title .letter:before{
    color: rgba(204, 247, 84, 0.671);
}
#conclusion #emptyBottom {
    margin-top:10%;
    margin-bottom:0;
    opacity: 0;
}

